.header {
  background-image: linear-gradient(
    to right top,
    #060537,
    #030a45,
    #020c52,
    #060d60,
    #0e0c6e
  );
  color: #fff;
  text-align: center;
  padding: 0.1rem;
}

.title {
  font-size: 2rem;
}

.input-container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

#gif-search-input {
  padding: 0.3rem 0;
  width: 350px;
  font-size: 1.3rem;
  outline: 0;
  border-color: rgba(blue, blue, blue, 0.7);
}

#gif-search-submit {
  width: 100px;
  font-size: 1.2rem;
  background-color: #01579b;
  color: #fff;
}